* {
    margin: 0;
    padding: 0;
}

.header {
    background: url("../img/header_background.png");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.header__navbar{
    padding: 17px 0 17px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.header__title{
    font-family: 'Lora', normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
}

.header__nav{
    font-family: 'Oxygen', normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    display: flex;
    flex-flow: row nowrap;
    gap: 20%;
}

a.header__link{
    color: #FFFFFF;
    text-decoration: none;
}

.intro{
    padding: 110px 0 157px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro__title{
    font: normal 400 50px/51px 'Lora', serif;
    letter-spacing: 2px;
}

.intro__text{
    font: normal 400 17px/20px 'Oxygen', serif;
    margin: 20px 0 31px 0;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.63;
}

.intro__button{
    padding: 12px 31px;
    background: #DD783F;
    border-radius: 3px;
    border-style: none;
    font: normal 400 13px/20px 'Oxygen', serif;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

.categories{
    background: #FFFFFF;
    margin-left: 17%;
    margin-right: 17%;
}

.menu__nav {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 22px 0 23px 0;
    justify-content: space-between;
}

.menu__link {
    font: 14px/20px 'Lora', serif;
    color: #768088;
    text-decoration: none;
}

.section {
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-posts__title {
    font: normal 400 20px/27px 'Oxygen', serif;
    color: #2E2E2E;
    border-bottom: 1px solid #DEDEDE;
    padding: 0 0 16px 0;
}

.featured-post__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0px 20px 15px 20px;
}

.featured-post {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 460px;
    height: 280px;
    border-radius: 3px;
}

.featured-post__title_link{
    text-decoration: none;
}

.featured-post__title{
    font: normal 400 27px/40px 'Lora', serif;
    color: #FFFFFF;
}

.featured-post__text {
    font: normal 400 14px/25px 'Oxygen', serif;
    color: #FFFFFF;
    opacity: 0.7;
}

.featured-post__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: normal 400 12px/35px 'Oxygen', serif;
    color: #FFFFFF;
    opacity: 0.7;
    
}

.featured-post__info-wrap {
    display: flex;
    align-items: center;
    gap: 10px;
}

.featured-post__image {
    border-radius: 60px;
}

.featured-post__category-text {
    font: normal 400 12px/13px 'Oxygen', serif;
    text-transform: uppercase;
    color: #FFFFFF;
}

.featured-posts {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.featured-posts__items {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    padding: 7px 10px;
}

.feature-post__category_button{
    font: normal 400 12px/13px 'Oxygen', serif;
    background: #DD783F;
    border-radius: 2px;
    align-self: self-start;
    border-style: none;
    color: #FFFFFF;
    margin: 20px 0 120px 20px;
    height: 26px;
    width: 87px;
}

.most-recent__title{
    font: normal 400 20px/27px 'Oxygen', serif;
    color: #2E2E2E;
    border-bottom: 1px solid #DEDEDE;
    padding: 0 13px 16px 13px;
}

.most-recent{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 89px;
}

.most-recent__items {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 6px 12px 19px 12px;
    gap: 25px 24px;
    max-width: 940px;
}

.recent-item {
    height: 291px;
    background: #FFFFFF;
    border-radius: 3px;
    max-width: 296px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recent-item__image {
    height: 150px;
    width: 100%;
}

.recent-item__title {
    font: normal 400 16px/20px 'Lora', serif;
    height: 21px;
    font-size: 16px;
    line-height: 21px;
    color: #101315;
}

.recent-item__main{
    padding: 0 13px 0 13px;
}
a.recent-item__title{
    text-decoration: none;
}
.recent-item__text {
    font: normal 400 13px/19px 'Oxygen', serif;
    color: #7A7A7A;
}

.recent-item__info {
    height: 48px;
    background-color: #FCFCFC;
    display: flex;
    justify-content: space-between;
    padding: 12px 13px 0 13px;
    border-top: 1px solid #EFEFEF;
}

.recent-item__author {
    height: 35px;
    font-size: 11px;
    line-height: 35px;
    color: #999999;
    display: flex;
    align-items: center;
}

.recent-post__author-image {
    height: 26px;
    border-radius: 60px;
}

.recent-item__author-name{
    padding: 0 0 0 10px;
}

.recent-item__date {
    height: 35px;
    font-size: 12px;
    line-height: 35px;
    color: #999999;
}

.contact {
    padding: 20px 0 80px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: url("../img/footer_background.png");
    background-size: cover;
    width: 100%;
}

.contact__fields {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 20px 0 10px 0;
    row-gap: 10px;
    
}

.contact__title {
    font: normal 400 25px/30px 'Oxygen', serif;
    display: block;
    text-align: center;
    color: #EFEFEF;
    padding: 82px 15px 18px 15px;
    border-bottom: 1px solid #DEDEDE;
}

.contact__email {
    background: #FFFFFF;
    border-radius: 3px 0 0 3px;
    padding: 0 35px;
    width: 375px;
    height: 50px;
    border-style: none;
}

.contact__email::placeholder {
    font: normal 400 12px/14px 'Roboto', serif;
    color: #817F83;
}

.contact_button {
    padding: 18px 43px 18px 44px;
    background: rgba(255, 255, 255, 0.28);
    border-radius: 0 3px 3px 0;
    font: normal 400 12px/14px 'Roboto', serif;
    color: #F8F8F8;
    border-style: none;
}

.footer {
    background: url("../img/footer_background.png");
    background-size: cover;
    border-radius: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-end;
}

.footer__navbar {
    padding: 28px 0 27px 0;
    background: #232F38;
    opacity: 0.6;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
}

.footer__container {
    height: 34px;
}

.footer__title {
    font: normal 400 26px/26px 'Lora', serif;
    color: #FFFFFF;
}

.footer__nav {
    padding: 3px 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    gap: 20px;
}

.footer__link {
    font: normal 400 11px/26px 'Oxygen', serif;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.6;
}

.footer__link{
    text-decoration: none;
}