<!DOCTYPE html>
<html lang="en-Us">
    <head>
        <meta charset="utf-8">
        <title>Index</title>
        <link rel="stylesheet" type="text/css" href="static/css/index.css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lora&family=Oxygen:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header">
            <div class="header__navbar">
                <p class="header__title">Escape.</p>
                <nav class="header__nav">
                    <a class="header__link" href="#">Home</a>
                    <a class="header__link" href="#">Categories</a>
                    <a class="header__link" href="#">About</a>
                    <a class="header__link" href="#">Contact</a>
                </nav>
            </div>
            <div class="intro">
                <h1 class="intro__title">Let's do it together.</h1>
                <span class="intro__text">We travel the world in search of stories. Come along for the ride.</span>
                <a href="#most-recent" class="intro__button">View Latest Posts</a>
            </div>
        </header>
        <div class="categories">
            <nav class="menu__nav">
                <a  class="menu__link" href="#">Nature</a>
                <a  class="menu__link" href="#">Photography</a>
                <a  class="menu__link" href="#">Relaxation</a>
                <a  class="menu__link" href="#">Vacation</a>
                <a  class="menu__link" href="#">Travel</a>
                <a  class="menu__link" href="#">Adventure</a>
            </nav>
        </div>
        <section class="section">
            <div class="featured-posts">
                <h2 class="featured-posts__title">Featured Posts</h2>
                <div class="featured-posts__items">
                    {{ range .FeaturedPosts }}
                    <div class="featured-post" style="background: url('{{ .Image}}');">
                        <div class="featured-post__container">
                            <h3 class="featured-post__title">{{ .Title }}</h3>
                            <p class="featured-post__text">{{ .Subtitle }}</p>
                            <div class="featured-post__info">
                                <div class="featured-post__info-wrap">
                                    <img class="featured-post__image" src="{{ .AuthorImg }}" alt="Mat Vogels">
                                    <span class="featured-post__author">{{ .Author }}</span>
                                </div>
                                <span class="featured-post__date">{{ .PublishDate }}</span>
                            </div>
                        </div> 
                    </div>        
                    {{ end }}
                </div>     
            </div>        
            <div class="most-recent">
                <h2 class="most-recent__title" id="most-recent">Most Recent</h2>
                <div class="most-recent__items">
                    {{ range .MostRecentPosts}}
                    <div class="recent-item">
                        <img src = "{{ .Image }}" class="recent-item__image" alt="#">
                        <div class="recent-item__main">
                            <a class="recent-item__title" href="#">{{ .Title }}</a>
                            <p class="recent-item__text">{{ .Subtitle }}</p>
                        </div>
                        <div class="recent-item__info">
                            <div class="recent-item__author">
                                <img src = "{{ .AuthorImg }}" class="recent-post__author-image" alt="#">
                                <span class="recent-item__author-name">{{ .Author }}</span>
                            </div> 
                            <span class="recent-item__date">{{ .PublishDate }}</span>
                        </div>   
                    </div>
                    {{ end}}
                </div>           
            </div>
            <form class="contact">
                <span class="contact__title">Stay in Touch</span>
                <div class="contact__fields">
                    <input class="contact__email" id="email" type="email" placeholder="Enter your email address">
                    <button class="contact_button" type="submit">Submit</button>
                </div>
            </form>
        </section>
        <footer class="footer">
            <div class="footer__navbar">
                <span class="footer__title">Escape.</span>
                <nav class="footer__nav">
                    <a class="footer__link" href="#">Home</a>
                    <a class="footer__link" href="#">Categories</a>
                    <a class="footer__link" href="#">About</a>
                    <a class="footer__link" href="#">Contact</a>
                </nav>
            </div>
        </footer>
    </body>
</html>