* {
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    padding: 0;
}

header
{
    background-image: url("../img/menu_background.png");
    height: 550px;
    width: 1440px;
    background-repeat: no-repeat;
    color: white;
    left: 0%;
    right: 0%;
    top: 0px;
}

a
{
    text-decoration: none;
}

h2 
{
    font-family: 'Oxygen', normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
}

.menu__p 
{
    font-family: 'Lora', normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
}

.menu__nav
{
    font-family: 'Oxygen', normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.menu__a{
    color: white;
    opacity: 0.6;
}

.menu__h1 
{
    font-family: 'Lora', normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    text-align: center;
    letter-spacing: 2px;
}

.menu__span
{
    font-family: 'Oxygen', normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    opacity: 0.6;
}

.menu__button
{
    font-family: 'Oxygen', normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    height: 44px;
    width: 167px;

    background: #DD783F;
    border-radius: 3px;
    text-align: center;
    color: white;



}

.categories 
{
    /* difference between ser-f and san-serif*/
    /* font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px; */
    font: 14px/20px 'Lora', serif;
    text-align: center;
    color: #768088;
}

.featured_post
{
   
    background-repeat: no-repeat;
    height: 280px;
    color: white;
}
/* change to modifier */
.featured-post_background_northen-lights {
    background-image: url("../img/posts/featuredPost1.png");
}

.featured_post2
{
    background-image: url("../img/posts/featuredPost2.png");
    background-repeat: no-repeat;
    height: 280px;
    color: white;
}

.featured_posts__a 
{
    font-family: 'Lora', normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    color: white;  
}

.featured_posts__p
{
    font-family: 'Oxygen', normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    opacity: .7;
}

.featured_posts__span
{
    font-family: 'Oxygen', normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    opacity: .7;
}

.most_recent_post__a
{
    font-family: 'Lora', normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: black;
}

.most_recent_post__p
{
    font-family: 'Oxygen', normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;
}

.most_recent_post__span
{
    font-family: 'Oxygen', normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;  
    color: #999999;
}

footer
{
    background-image: url("../img/footer.png");
    height: 89px;
    width: 1440px;
    color: white;
}

.footer__p
{
    font-family: 'Lora', normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
}

.footer__a
{
    font-family: 'Oxygen', normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: white;
    opacity: .6;
}